body {
    background-color: #d9d6d2; 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

header {
    background-color: #8d8987; 
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 2rem;
    display: flex;
}

nav a {
    color: #222; 
    margin-right: 1rem;
    font-weight: bold; 
}

#logo img {
    width: 80px; 
    height: auto;
}

section {
    background-color: #efedeb; 
    margin: 1rem auto;
    padding: 1.5rem;
    max-width: 800px;
}
h1, h2 {
    color: #111; 
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: normal; 
}
table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse; /*saca ladoble linea de un fila con otra(espacio)*/
}
/* celdas */
th, td {
    border: 1px solid #aaa;
    padding: 0.5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
}
section p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

#proyectos, #contacto {
    background-color: #efedeb;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    max-width: 800px;
}
#contacto a {
    color: #222;
    margin: 0.5rem;
    font-weight: bold;
    display: inline-block;
}